[Desktop Entry]
Categories=Graphics;
Comment=Merge multiple PDF documents
Exec=FusePDF
GenericName=FusePDF
Icon=fusepdf
Name=FusePDF
Type=Application
